
/*****************************/
/*     MEDIA QUERIES     */
/*****************************/
/* Min-width width 768px */

.swiper-button-prev, .swiper-button-next {
	top:65%!important;
}

.rooms-container{
	margin-top: 0px!important;
	margin-bottom: 15px!important;
}

.image-containers{
	margin-top: 10px;
	width: 100%;
}

.title-post{
	margin-bottom: 0px;
}
/*.list-unstyled li, .list-unstyled li i{
	vertical-align: middle;
	line-height: 100px;
	text-align: center;
}
.list-unstyled li i{
	margin-right: 10px;
	width: 60px;
	}*/

	#service{
		margin-bottom: 50px!important;

	}

	/*.list-icon {

		margin-right: 20px;
		display: inline-block;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}

	.list-text {

		display: inline-block;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		}*/
		.advandage-text {
			text-align: left!important;
		}
		.list-unstyled.kembalilagi li .list-text{
			vertical-align: middle!important;
			line-height: normal!important; 
			text-align: left!important;
		}
		.list-unstyled.kembalilagi li{
			height: 80px;
			margin-bottom:20px;
		}

		.heading.kembali h2{
			text-align: center!important;
			vertical-align: middle!important;
			line-height: 300px!important;
			margin: 0px;
			/*font-size: 2px;*/
		}
		.advantage-icon{
			padding:  0px;
			height: 55px;
		}
		#rooms{
			padding-bottom: 60px;
		}
		.advantage-text{
			padding:  10px;
			line-height: normal;
			vertical-align: middle;
			text-align: left;
		}
		/* Min-width width 480px */
		@media only screen and (max-width: 480px) {
			.heading.kembali h2{
				text-align: center!important;
				vertical-align: middle!important;
				line-height: 50px!important;
				margin: 0px;
				/*font-size: 2px;*/
			}




		}
		/* Min-width width 640px */
		@media only screen and (max-width: 640px) {
			.heading.kembali h2{
				text-align: center!important;
				vertical-align: middle!important;
				line-height: 50px!important;
				margin: 10px;
				/*font-size: 2px;*/
			}
			.advandage-icon{
				padding:  0px;
			}
			.advandage-text{
				padding:  0px;
			}
			.list-unstyled.kembalilagi li .list-text {
				display: inline;

			}

		}

		@media only screen and (max-width: 768px) {
			.bottom-page{

				min-height: 50px;
			}


		}




		/* Min-width width 992px */
		@media only screen and (min-width: 992px) {

		}


		/* Min-width width 1200px */
		@media (min-width: 1200px) {

		}